* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://cdn.pixabay.com/photo/2020/05/16/13/40/blue-5177612_1280.jpg");
    background-size: cover;
}

.container {
    width: 40%;
    /* height: 300px; */
    margin: 10% auto;
    padding: 30px;
    background-color: #072c3d;
    color: white;
    border-radius: 50px;
    box-shadow: 5px 10px 10px #39697f;
}

.business-card img {
    float: left;
    /* height: 120px;
    width: 150px; */
}

.username,
.email,
.occupation,
.download-cv {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin: 10px;
}

.occupation {
    /* margin-top: px; */
}

.occupation span {
    font-size: 1rem;
}

.username span {
    border-bottom: 2px solid #39697f;
    /* padding-bottom: 5px; */
    /* margin-bottom: 3px; */
}

.email {
    font-size: 1.1rem;
}

.download-cv a {
    color: #5d90a8;
    text-decoration: none;
    font-size: 1.1rem;
}


.download-cv a:visited {
    color: blueviolet;
}